
@{
    ViewBag.Title = "Electronic Detective - How To Play";
}

<div>

 <div>
     <h3>Table of Contents</h3>
     <h4>Object of the Game</h4>
     <h4>Levels of Difficulty</h4>
     <h4>How the Game Plays</h4>
     <h4>The Case Fact Sheet</h4>
     <h4>How to Use the Interface</h4>
     <h5>Keying in the Crime</h5>
     <h5>Questioning Suspects</h5>
     <h5>Soling the Crime</h5>
     <h5>Making an Accusation</h5>
     <h4>Summary of Rules</h4>

     <p>Object of the Game</p>
     <p>Be the first player to correctly solve the crime.</p>

     <p>Levels of Difficulty</p>
     <p>The game can be played at three different "levels of difficulty":
        <ol>
            <li>"Master Detective" (the most difficult)</li>
            <li>"Sleuth" (less difficult)</li>
            <li>"Gumshow" (least difficult)</li>
        </ol>   
     </p>

     <p>One level of difficulty is chosen for each game.  At level 1 only one private question is allowed when questioning a suspect.  At level 2 the player can ask two private questions when questioning a suspect.
        At level 3 the player is allowed to ask 3 private questions when questioning a suspect.  Private questions are explained in the "Questiong Suspects" section.
     </p>
 </div>

</div>

